@tailwind base;
@tailwind components;
@tailwind utilities;

@layer base {
  body,
  html {
    @apply h-full font-sans;
  }

  h1,
  h2,
  h3,
  nav,
  .font-custom {
    font-family: "Cabin Sketch", cursive;
  }

  a {
    @apply font-bold text-blue-dark;

    &:not(.nav-link):hover {
      @apply text-yellow;
    }
  }

  p {
    @apply mb-4;
  }

  li {
    @apply mb-2;
  }
}

@layer utilities {
  .fade-enter-active,
  .fade-leave-active {
    transition: all 0.3s ease;
  }
  .fade-enter,
  .fade-leave-to {
    opacity: 0;
  }

  [v-cloak] {
    opacity: 0;
  }
}
