@tailwind base;
@tailwind components;
@tailwind utilities;

@layer base {
  body,
  html {
    @apply h-full font-sans;
  }

  h1,
  h2,
  h3,
  nav,
  .font-custom {
    font-family: "Cabin Sketch", cursive;
  }

  a {
    @apply font-bold text-blue underline;

    &:hover {
      @apply no-underline;
    }
  }

  p,
  li {
    @apply mb-4;
  }
}

@layer utilities {
  .fade-enter-active,
  .fade-leave-active {
    transition: all 0.3s ease;
  }
  .fade-enter,
  .fade-leave-to {
    opacity: 0;
  }

  [v-cloak] {
    opacity: 0;
  }
}
